<link href="/style.css" rel="stylesheet" type="text/css" />

<body>
  <h1>All Books</h1>
    <div class="buttonSection">

        <a href="http://localhost:<%=port%>/allbooksejs"
          ><button class="allbooksbutton">All Books</button></a
        >
    </div>
    <%publishers.map(x=>{%>
        <div>

        </div>
        <h2> <%=x%>'s books</h2>
        <div class="bookCard">
        <% books.map((e,i)=> {%>
            <%if(e.publisher==x){%>

                <div class="container">
                    <img src="<%=e.img%>" alt="" width="300" height="400" />
                    <div class="mainsection">
                        <h4><%=e.title%></h4>
                        <a href="<%=e.website%>">
                            <p><%=e.description%>...</a></p>
                        </div>
                        <form class="moreinfo" method="post" action="/allbooksejs">
                            <input id="invisible" type="text" name="delete" value="<%=i%>" />
                            <button class="deletebooksbutton" type="submit">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/Delete-button.svg/862px-Delete-button.svg.png" alt="" width="15" height="20">
                                Delete</button>
                            </form>
                        </div>
                        <% } %>
                        <%})%>
                    </div>
            <%})%>
                </body>
                